html,body
{
	background-color:#ededed;
	font-family:"Raleway";
	font-weight:bold;
}

select
{
	font-weight:bold;
}

option
{
	font-weight:bold;
}

hr
{
	border:0;
	background: #f1592a;
	height:1px;
}

h2
{
	text-align: center;
	font-weight:bold;
}

.btn
{
	font-weight:bold;
}

.btn.outline
{
	background:none !important;
	padding: 12px 22px;
	font-weight:bold;
}

.btn-primary.outline
{
	border: 2px solid #0099cc;
	color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:active, .btn-primary.outline:focus
{
	border-color:#007399;
	color: #007399;
}

.btn-primary.outline:active, .btn-primary.outline.active
{
	border-color:#173F4C;
	color: #173F4C;
	box-shadow:none;
}

.btn-danger.outline
{
	border: 2px solid #D43F3A;
	color: #D43F3A;
}

.btn-danger.outline:hover, .btn-danger.outline:active, .btn-danger.outline:focus
{
	border-color:#A1302C;
	color: #A1302C;
}

.btn-danger.outline:active, .btn-danger.outline.active
{
	border-color:#543230;
	color: #543230;
	box-shadow:none;
}

.btn-warning.outline
{
	border: 2px solid #f0ad4e;
	color: #f0ad4e;
}

.btn-warning.outline:hover, .btn-warning.outline:active, .btn-warning.outline:focus
{
	border-color: #BD883D;
	color: #BD883D;
}

.btn-warning.outline:active, .btn-warning.outline.active
{
	border-color: #997D4D;
	color: #997D4D;
	box-shadow:none;
}

.button-container
{
	margin-top:1rem;
}

.button-logout
{
	margin-top:3rem;
}

.last-button
{
	margin-bottom:2em;
}

.navtext
{
	margin-top:3rem;
	font-size:4rem;
	font-family:"Raleway";
}
